button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

thead, tbody, tfoot, tr, td, th {
  border: 1px solid #dee2e6 !important;
}

// .custom-control-inline {
//   display: inline-flex;
//   margin-right: 1rem;
// }